{% load static %}
{% load shop_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link type="text/css" href="{% static 'shop/css/styles.css' %}" rel = "stylesheet"/>
</head>
<body>

<!--Main menu-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'contacts' %}">Contacts <span class="sr-only"></span></a>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method="get">
        <input class="form-control mr-sm-2" type="search" style="width: 400px;" placeholder="Search.." aria-label="Search" name="search">
        <button class="btn btn-outline-success my-4 my-sm-0 mr-5" type="submit" >Search</button>
    </form>

      {% with total_items=cart|length %}
          {% if cart|length > 0 %}
      <a class="nav-link navbar-brand" href="{% url 'cart:cart_detail' %}">In cart: {{ total_items }} pcs, {{ cart.get_total_price}} UAH </a>
          {% else %}
                <a class="nav-link navbar-brand" href="{% url 'cart:cart_detail' %}">Cart</a>
          {% endif %}
      {% endwith %}


      {% if request.user.is_authenticated %}
      <a class="nav-link navbar-brand" href="{% url 'user_cabinet:history_orders' %}">Cabinet </a>
      <span class="nav-link navbar-brand">Hello, {{ user.username }} </span>
      <a class="nav-link navbar-brand" href="{% url 'auth_and_reg:logout' %}">Log out</a>
      {% else %}
    <a class="nav-link navbar-brand" href="{% url 'auth_and_reg:login' %}">Login</a><a class="nav-link navbar-brand" href="{% url 'auth_and_reg:register' %}">Register</a>
      {% endif %}
  </div>
</nav>



<!--Sidebar-->
<div class="sidenav w-20" >
    <h1>Category</h1>
    <li class="active_c"><a href="{% url 'home' %}"> All categories </a></li>

    {% show_category %}
</div>



<!--Main content-->
{% block content %}
{% endblock content %}

{% block detail %}
{% endblock detail %}

{% block contacts %}
{% endblock contacts %}

{% block cabinet %}
{% endblock cabinet %}

{% block search_result %}
{% endblock search_result %}


</body>

<!--Footer-->
<div class="footer">
    {% show_footer %}
</div>
</html>

